* {
   box-sizing:border-box;
}

:root {
    --primary: #e036c7;
    --secondary: #05f7db;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
}

body {
    background: #ededed;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    display:flex;
    min-height: 100vh;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
}

.page-title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
    color: var(--primary)
}

.link-timer {
    display:flex;
    justify-content: space-between;
    
    
}
 .link-timer a {
    
    color: var(--primary);
 }

 .link-timer a p {
    margin-left: 50px;
 }
.timer {
    text-align: end;
    color:black;
    margin-right: 50px;
}

.intro {
    text-align: center;
    color:black;
    margin: 10%;
}

.questions-container {
    display: flex;
    flex-direction: column;
}
.start {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.0rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color:black;

    padding: 5px 7px;
    margin: 2% 37%;
    background: var(--secondary);
    color: #fff;
    
}

.start:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
.start:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
  }

  .btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.0rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color:black;

    padding: 5px 7px;
    margin: 1% 25%;
    background: var(--secondary);
    color: #fff;
  }