* {
   box-sizing:border-box;
}

:root {
    --primary: #e036c7;
    --secondary: #05f7db;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
}

body {
    background: #ededed;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    display:flex;
    min-height: 100vh;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
}

.page-title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
    color: var(--primary)
}

.link-timer {
    display:flex;
    justify-content: space-between;
    
    
}
 .link-timer a {
    
    color: var(--primary);
 }

 .link-timer a p {
    margin-left: 50px;
 }
.timer {
    text-align: end;
    color:black;
    margin-right: 50px;
}

.intro {
    text-align: center;
    color:black;
    margin: 200px;
}